<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.ezencompany.mapper.adminMapper">

	<insert id="memberRegistration" parameterType="List">
		INSERT INTO member (mname, email, authority, joindate, enabled)
 			VALUES(#{name}, #{email}, 'ROLE_USER', now(), 1);
	</insert>
	
	<insert id="employeeRegistration" parameterType="List">
		INSERT INTO employeeOption (mno, code, value)
 			VALUES(#{방금업뎃한 mno}, #{반복문 1의 값1}, #{반복문1의 값2(내가 보낸값)});
	</insert>
	
</mapper>