<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.ezencompany.mapper.adminMapper">

	<insert id="memberRegistration" parameterType="java.util.Map">
		INSERT INTO member (mname, email, authority, joindate, enabled)
 			VALUES(#{name}, #{email}, 'ROLE_USER', now(), 1);
	</insert>
	
	<select id="getLastMno" parameterType="java.util.Map" resultType="int">
		SELECT mno FROM member WHERE email = #{email};
	</select>
	
	<!-- #{optionMap.mno, jdbcType=INTEGER}이 부분 수정 -->
	<insert id="employeeRegistration" parameterType="java.util.Map">
		INSERT INTO employeeOption (mno, code, value) VALUES
		    (#{mno}, #{code}, #{value});
	</insert>
	
</mapper>