<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ezen.ezencompany.mapper.memberMapper">
	
	<select id="checkID" parameterType="String" resultType="int">
		SELECT count(mid) FROM member where mid = #{text};
	</select>
	
	<select id="requestMno" parameterType="String" resultType="int">
		SELECT mno FROM joinmail WHERE shortUrl = #{url};
	</select>
	
	<update id="joinOk" parameterType="MemberVO">
		UPDATE member SET mid = #{mid}, mpassword = #{mpassword} WHERE mno = #{mno}; 
	</update>
	
	<select id="selectLogin" parameterType="String" resultType="java.util.Map">
		SELECT userid as username, name, password, enabled, authority from user WHERE userid = #{value} 
	</select>

</mapper>



