<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

 <!-- Vendor CSS Files -->
 <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
 <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
 <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
 <link href="../assets/vendor/remixicon/remixicon.css" rel="stylesheet">
 <link href="../assets/vendor/simple-datatables/style.css" rel="stylesheet">
 
  <!-- Template Main CSS File -->
  <link href="../assets/css/style_admin.css" rel="stylesheet">
  

</head>
<body>
  <!-- ======= Header - Admin ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="d-flex align-items-center justify-content-between">
      <a href="home.html" class="logo d-flex align-items-center">
        <i class="bi bi-wrench"></i>
        <span class="d-none d-lg-block">Admin</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        <li class="nav-item">
            <a class="nav-link nav-icon" href="../admin/home.html">
              <i class="bi bi-key"></i>
            </a>
        </li><!-- End Admin Icon-->

        <li class="nav-item dropdown">
          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">4</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              You have 4 new notifications
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>Lorem Ipsum</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>30 min. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-x-circle text-danger"></i>
              <div>
                <h4>Atque rerum nesciunt</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>1 hr. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-check-circle text-success"></i>
              <div>
                <h4>Sit rerum fuga</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>2 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-info-circle text-primary"></i>
              <div>
                <h4>Dicta reprehenderit</h4>
                <p>Quae dolorem earum veritatis oditseno</p>
                <p>4 hrs. ago</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Show all notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->
        </li><!-- End Notification Nav -->

        <li class="nav-item">
          <a class="nav-link nav-icon" href="#">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a>
        </li><!-- End Messages Icon -->
        
        <li class="nav-item">
            <a class="nav-link nav-icon search-bar-toggle" href="../board/home.html">
              <i class="bi bi-grid"></i>
            </a>
        </li><!-- End Board Icon-->

        <li class="nav-item">
            <a class="nav-link nav-icon search-bar-toggle" href="../blog/home.html">
              <i class="bi bi-house-door"></i>
            </a>
        </li><!-- End Home Icon-->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar - Admin ======= -->
  <aside id="sidebar" class="sidebar">
    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link collapsed" href="home.html">
                <i class="bi bi-people"></i>
                <span>사원 목록</span>
            </a>
        </li><!-- End Employee Page Nav  -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="board.html">
                <i class="bi bi-columns-gap"></i>
                <span>게시판 목록</span>
            </a>
        </li><!-- End board list Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="category.html">
                <i class="bi bi-layers"></i>
                <span>분류</span>
            </a>
        </li><!-- End category  Page Nav -->

        <li class="nav-item">
            <a class="nav-link collapsed" href="attribute.html">
                <i class="bi bi-puzzle"></i>
                <span>속성</span>
            </a>
        </li><!-- End attribute Page Nav -->

<!--      <li class="nav-heading">Pages</li> -->
    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    <!-- 
    <div class="pagetitle">
        <h1>사원 목록</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="home.html">Admin</a></li>
            <li class="breadcrumb-item">Tables</li>
            <li class="breadcrumb-item active">Data</li>
          </ol>
        </nav>    
      </div> 
    -->
    <!-- End Page Title -->
      
    <section class="section">
      <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                  <h5 class="card-title"><b>사원 목록</b></h5>
                  <button type="button" class="btn btn-primary h-50" data-bs-toggle="modal" data-bs-target="#employeeAddModal" >+ 사원 등록</button>
                  <!--<p>Add lightweight datatables to your project with using the <a href="https://github.com/fiduswriter/Simple-DataTables" target="_blank">Simple DataTables</a> library. Just add <code>.datatable</code> class name to any table you wish to conver to a datatable. Check for <a href="https://fiduswriter.github.io/simple-datatables/demos/" target="_blank">more examples</a>.</p>-->
              </div>

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>이메일</th>
                    <th>권한</th>
                    <th>상태</th>
                    <th data-type="date" data-format="YYYY/DD/MM">Start Date</th>
                    <th>&nbsp;</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>UnityPugh</td>
                      <td>Unity Pugh</td>
                      <td>UnityPugh@abc.com</td>
                      <td>ROLE_USER</td>
                      <td><img src="../assets/icon/active.png" alt="active"></td>
                      <td>2005/02/11</td>
                      <td>
                        <a class="link-dark" href="#" onclick="return false;" data-bs-toggle="modal" data-bs-target="#employeeDetailModal" data-bs-mno="1">
                          <i class="bi bi-three-dots-vertical"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="#"><i class="bx bx-mail-send"> 재전송</i></a></td>
                      <td>Kylie Bishoph</td>
                      <td>KylieBishop@abc.com</td>
                      <td>ROLE_USER</td>
                      <td><img src="../assets/icon/inactive.png" alt="inactive"></td>
                      <td>2005/09/08</td>
                      <td>
                        <a class="link-dark" href="#" onclick="return false;" data-bs-toggle="modal" data-bs-target="#employeeDetailModal" data-bs-mno="2">
                          <i class="bi bi-three-dots-vertical"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>WillowGilliam</td>
                      <td>Willow Gilliam</td>
                      <td>WillowGilliam@gmail.com</td>
                      <td>ROLE_USER</td>
                      <td><img src="../assets/icon/active.png" alt="active"></td>
                      <td>2009/29/11</td>
                      <td>
                        <a class="link-dark" href="#" onclick="return false;" data-bs-toggle="modal" data-bs-target="#employeeDetailModal" data-bs-mno="3">
                          <i class="bi bi-three-dots-vertical"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>BlossomDickerson</td>
                      <td>Blossom Dickerson</td>
                      <td>BlossomDickerson@gmail.com</td>
                      <td>ROLE_USER</td>
                      <td><img src="../assets/icon/inactive.png" alt="inactive"></td>
                      <td>2006/11/09</td>
                      <td>
                        <a class="link-dark" href="#" onclick="return false;" data-bs-toggle="modal" data-bs-target="#employeeDetailModal" data-bs-mno="4">
                          <i class="bi bi-three-dots-vertical"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>CastorPugh</td>
                      <td>Castor Pugh</td>
                      <td>CastorPugh@gmail.com</td>
                      <td>ROLE_ADMIN</td>
                      <td><img src="../assets/icon/active.png" alt="active"></td>
                      <td>2014/23/12</td>
                      <td>
                        <a class="link-dark" href="#" onclick="return false;" data-bs-toggle="modal" data-bs-target="#employeeDetailModal" data-bs-mno="5">
                          <i class="bi bi-three-dots-vertical"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>DanielBaldwin</td>
                      <td>Daniel Baldwin</td>
                      <td>DanielBaldwin@gmail.com</td>
                      <td>ROLE_USER</td>
                      <td><img src="../assets/icon/active.png" alt="active"></td>
                      <td>2000/11/01</td>
                      <td>
                        <a class="link-dark" href="#" onclick="return false;" data-bs-toggle="modal" data-bs-target="#employeeDetailModal" data-bs-mno="6">
                          <i class="bi bi-three-dots-vertical"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>PhelanKane</td>
                      <td>Phelan Kane</td>
                      <td>PhelanKane@gmail.com</td>
                      <td>ROLE_USER</td>
                      <td><img src="../assets/icon/active.png" alt="active"></td>
                      <td>1999/16/04</td>
                      <td>
                        <a class="link-dark" href="#" onclick="return false;" data-bs-toggle="modal" data-bs-target="#employeeDetailModal" data-bs-mno="7">
                          <i class="bi bi-three-dots-vertical"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>ArmandSuarez</td>
                      <td>Armand Suarez</td>
                      <td>ArmandSuarez@gmail.com</td>
                      <td>ROLE_USER</td>
                      <td><img src="../assets/icon/active.png" alt="active"></td>
                      <td>1999/06/11</td>
                      <td>
                        <a class="link-dark" href="#" onclick="return false;" data-bs-toggle="modal" data-bs-target="#employeeDetailModal" data-bs-mno="8">
                          <i class="bi bi-three-dots-vertical"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>MiraRocha</td>
                      <td>Mira Rocha</td>
                      <td>MiraRocha@gmail.com</td>
                      <td>ROLE_USER</td>
                      <td><img src="../assets/icon/active.png" alt="active"></td>
                      <td>2002/04/10</td>
                      <td>
                        <a class="link-dark" href="#" onclick="return false;" data-bs-toggle="modal" data-bs-target="#employeeDetailModal" data-bs-mno="9">
                          <i class="bi bi-three-dots-vertical"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>LoisTalley</td>
                      <td>Lois Talley</td>
                      <td>LoisTalley@gmail.com</td>
                      <td>ROLE_USER</td>
                      <td><img src="../assets/icon/active.png" alt="active"></td>
                      <td>2015/28/04</td>
                      <td>
                        <a class="link-dark" href="#" onclick="return false;" data-bs-toggle="modal" data-bs-target="#employeeDetailModal" data-bs-mno="10">
                          <i class="bi bi-three-dots-vertical"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>DesireeFerguson</td>
                      <td>Desiree Ferguson</td>
                      <td>DesireeFerguson@gmail.com</td>
                      <td>ROLE_USER</td>
                      <td><img src="../assets/icon/active.png" alt="active"></td>
                      <td>2009/15/02</td>
                      <td>
                        <a class="link-dark" href="#" onclick="return false;" data-bs-toggle="modal" data-bs-target="#employeeDetailModal" data-bs-mno="11">
                          <i class="bi bi-three-dots-vertical"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>HildaNelson</td>
                      <td>Hilda Nelson</td>
                      <td>HildaNelson@gmail.com</td>
                      <td>ROLE_USER</td>
                      <td><img src="../assets/icon/active.png" alt="active"></td>
                      <td>2004/23/05</td>
                      <td>
                        <a class="link-dark" href="#" onclick="return false;" data-bs-toggle="modal" data-bs-target="#employeeDetailModal" data-bs-mno="12">
                          <i class="bi bi-three-dots-vertical"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>EvangelineBeasley</td>
                      <td>Evangeline Beasley</td>
                      <td>EvangelineBeasley@gmail.com</td>
                      <td>ROLE_USER</td>
                      <td><img src="../assets/icon/active.png" alt="active"></td>
                      <td>2009/12/03</td>
                      <td>
                        <a class="link-dark" href="#" onclick="return false;" data-bs-toggle="modal" data-bs-target="#employeeDetailModal" data-bs-mno="13">
                          <i class="bi bi-three-dots-vertical"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>KaliaDiaz</td>
                      <td>Kalia Diaz</td>
                      <td>KaliaDiaz@gmail.com</td>
                      <td>ROLE_USER</td>
                      <td><img src="../assets/icon/active.png" alt="active"></td>
                      <td>2013/26/06</td>
                      <td>
                        <a class="link-dark" href="#" onclick="return false;" data-bs-toggle="modal" data-bs-target="#employeeDetailModal" data-bs-mno="14">
                          <i class="bi bi-three-dots-vertical"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>WyattMccarthy</td>
                      <td>Wyatt Mccarthy</td>
                      <td>WyattMccarthy@gmail.com</td>
                      <td>ROLE_USER</td>
                      <td><img src="../assets/icon/active.png" alt="active"></td>
                      <td>2014/23/06</td>
                      <td>
                        <a class="link-dark" href="#" onclick="return false;" data-bs-toggle="modal" data-bs-target="#employeeDetailModal" data-bs-mno="15">
                          <i class="bi bi-three-dots-vertical"></i>
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td>LeighRuiz</td>
                      <td>Leigh Ruiz</td>
                      <td>LeighRuiz@gmail.com</td>
                      <td>ROLE_USER</td>
                      <td><img src="../assets/icon/active.png" alt="active"></td>
                      <td>2010/24/03</td>
                      <td>
                        <a class="link-dark" href="#" onclick="return false;" data-bs-toggle="modal" data-bs-target="#employeeDetailModal" data-bs-mno="16">
                          <i class="bi bi-three-dots-vertical"></i>
                        </a>
                      </td>
                    </tr>
                  
                </tbody>
              </table>
              <!-- End Table with stripped rows -->

            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="popup">

      <!-- 사원 등록 팝업 -->
      <div class="modal fade" id="employeeAddModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">사원 등록</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
  
            <div class="modal-body">  
              <div class="container-fluid">
                <div class="row mb-1">
                  <div>
                    <label for="join_inputName" class="col-sm-4 col-form-label">이름</label>
                    <div class="col">
                      <input type="text" class="form-control" id="join_inputName">
                    </div>
                  </div>
                </div>
                <div class="row mb-1">
                  <div>
                    <label for="join_inputEmail" class="col-sm-4 col-form-label">이메일</label>
                    <div class="col">
                      <input type="email" class="form-control" id="join_inputEmail">
                    </div>
                  </div>
                </div>
                <hr>
                <div class="row mb-1">
                  <div>
                    <label class="col-sm-4 col-form-label">직위</label>
                    <div class="col">
                      <select class="form-select" aria-label="Default select example">
                        <option selected>사원</option>
                        <option value="1">사원</option>
                        <option value="2">주임</option>
                        <option value="3">대리</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row mb-1">
                  <div>
                    <label class="col-sm-4 col-form-label">부서</label>
                    <div class="col">
                      <select class="form-select" aria-label="Default select example">
                        <option selected>개발</option>
                        <option value="1">개발</option>
                        <option value="2">운영</option>
                        <option value="3">영업</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer d-flex align-items-center justify-content-center">
              <button type="button" class="btn btn-warning btn-lg" data-bs-dismiss="modal">사원 추가</button>
            </div>
          </div>
        </div>
      </div><!-- End Basic Modal-->
  
       <!-- 사원 정보 보기 팝업-->
      <div class="modal fade" id="employeeDetailModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">사원 정보</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
  
            <div class="modal-body">
                <div class="container-fluid">
                  <div class="row">
                    <!-- 좌측 고정 정보-->
                    <div class="col-lg-6">
  
                      <div class="row mb-1 d-flex align-items-center justify-content-center">
                        <div class="card border w-50">
                          <div class="card-body profile-card p-0 pt-4 d-flex flex-column align-items-center">
                            <img src="../assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                            <a class="align-self-end" href="#" onclick="()=>{}"><i class="bi bi-camera"></i></a>
                          </div>
                        </div>  
                      </div>
  
                      <div class="row mb-1">
                        <div>
                          <label for="inputId" class="col-sm-4 col-form-label">아이디</label>
                          <div class="col">
                            <input type="text" class="form-control" id="info_inputId" value="UnityPugh" disabled >
                          </div>
                        </div>
                      </div>
                    
                      <div class="row mb-1">
                        <div>
                          <label for="inputName" class="col-sm-4 col-form-label">이름</label>
                          <div class="col">
                            <input type="text" class="form-control" id="info_inputName" value="Unity Pugh">
                          </div>
                        </div>
                      </div>
        
                        <div class="row mb-1">
                          <div>
                            <label for="info_inputEmail" class="col-sm-4 col-form-label">이메일</label>
                            <div class="col">
                              <input type="email" class="form-control" id="info_inputEmail" value="UnityPugh@abc.com">
                            </div>
                          </div>
                        </div>
        
                        <div class="row mb-1">
                          <div>
                            <label for="info_inputPhone" class="col-sm-4 col-form-label">전화번호</label>
                            <div class="col">
                              <input type="tel" class="form-control" id="info_inputPhone" value="010-0000-0000">
                            </div>
                          </div>
                        </div>
        
                        <div class="row mb-1">
                          <div>
                            <label for="info_inputDate" class="col-sm-4 col-form-label">가입일</label>
                            <div class="col">
                              <input type="text" class="form-control" id="info_inputDate" value="2024.03.17" disabled >
                            </div>
                          </div>
                        </div>
  
                        <div class="row mb-1">
                          <div>
                            <label class="col-sm-4 col-form-label">권한</label>
                            <div class="col">
                              <select class="form-select" aria-label="Default select example">
                                <option selected>ROLE_USER</option>
                                <option value="1">ROLE_USER</option>
                                <option value="2">ROLE_ADMIN</option>
                              </select>
                            </div>
                          </div>
                        </div>
  
                        <div class="row mb-1">
                          <div>
                            <label class="col-sm-4 col-form-label">상태</label>
                            <div class="col">
                              <select class="form-select" aria-label="Default select example">
                                <option selected>Active</option>
                                <option value="1">Active</option>
                                <option value="2">Inactive</option>
                              </select>
                            </div>
                          </div>
                        </div>
                    </div>
  
                    <!-- 우측 변동 정보-->
                    <div class="col-lg-6">
                      
                      <div class="row mb-1">
                        <div>
                          <label class="col-sm-4 col-form-label">부서</label>
                          <div class="col">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>개발</option>
                              <option value="1">?</option>
                              <option value="2">?</option>
                              <option value="3">?</option>
                            </select>
                          </div>
                        </div>
                      </div>
  
                      <div class="row mb-1">
                        <div>
                          <label class="col-sm-4 col-form-label">직위</label>
                          <div class="col">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>사원</option>
                              <option value="1">?</option>
                              <option value="2">?</option>
                              <option value="3">?</option>
                            </select>
                          </div>
                        </div>
                      </div>
  
                      <div class="row mb-1">
                        <div>
                          <label class="col-sm-4 col-form-label">직무</label>
                          <div class="col">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>웹개발</option>
                              <option value="1">?</option>
                              <option value="2">?</option>
                              <option value="3">?</option>
                            </select>
                          </div>
                        </div>
                      </div>
  
                      <div class="row mb-1">
                        <div>
                          <label class="col-sm-4 col-form-label">직책</label>
                          <div class="col">
                            <select class="form-select" aria-label="Default select example">
                              <option selected>개발팀장</option>
                              <option value="1">?</option>
                              <option value="2">?</option>
                              <option value="3">?</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                </div>
            </div>
            <div class="modal-footer d-flex align-items-center justify-content-center">
              <button type="button" class="btn btn-danger btn-lg"  onclick="openMultiModal('employeeRemoveModal')">탈퇴</button>
              <button type="button" class="btn btn-warning btn-lg" onclick="openMultiModal('employeeEditModal')">수정</button>
            </div>
          </div>
        </div>
      </div><!-- End Modal Dialog Scrollable-->
  
      <!-- 탈퇴 확인 모달-->
      <div class="modal fade" id="employeeRemoveModal" tabindex="-1" data-bs-backdrop="false">
        <div class="modal-dialog modal-dialog-bottom">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">탈퇴 확인</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              정말로 탈퇴 처리 하시겠습니까?
            </div>
            <div class="modal-footer d-flex align-items-center justify-content-center">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="closeMultiModal(()=>{},'employeeDetailModal')">탈퇴</button>
            </div>
          </div>
        </div>
      </div><!-- End Disabled Backdrop Modal-->
  
       <!-- 수정 확인 모달-->
       <div class="modal fade" id="employeeEditModal" tabindex="-1" data-bs-backdrop="false">
        <div class="modal-dialog modal-dialog-bottom">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">수정 확인</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              정말로 정보를 수정 하시겠습니까?
            </div>
            <div class="modal-footer d-flex align-items-center justify-content-center">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal" onclick="closeMultiModal(()=>{},'employeeDetailModal')">수정</button>
            </div>
          </div>
        </div>
      </div><!-- End Disabled Backdrop Modal-->
  
  
    </section>

  </main><!-- End #main -->

  <!-- Last -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/simple-datatables/simple-datatables.js"></script>

  <!-- Template Main JS File -->
  <script src="../assets/js/main.js"></script>
  <script src="../assets/js/admin/employee.js"></script>

  <!-- Last JS-->
  <script src="../assets/js/tooltips.js"></script>

</body>
</html>