
/*--------------------------------------------------------------
# Reply
--------------------------------------------------------------*/
.ezReply ul {
    /*list-style: none;*/
    list-style-image:url(../icon/arrow-return-right.svg);
  }
  
.ezReply{
list-style: none;
margin: 0;
padding: 0;
}

.reply_node{
  /*height: 100px;*/
  background-color: #DFDFDF;
  margin: 4px;
}
